@import "tailwindcss";
@source "../../**/*.html";
@theme {
    --color-primary: #0033aa;
    --color-secondary: #0c4a6e;
    --color-accent: #d4af37;
    --color-base-100: #ffffff;
    --color-base-200: #f8fafc;
    --color-base-300: #e2e8f0;
    --color-base-content: #0f172a;
    --color-error: #dc2626;
}